
body {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    margin: 0 auto;
    font-size: 1.2rem;
    border: 1px solid #ddd;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    justify-content: space-between;
    align-content: center;
    background: #000;
    height: 60px;
    z-index: 10;
}

header h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header div:first-child {
    font-size: 30px;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}

/* Top nav search */
header .search-container {
    float: right;
    text-align: right;
}

header input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: 1px solid #ccc;
    outline: none;
    width: 70%;
}

header .search-container a {
    float: right;
    padding: 8px 10px;
    margin-right: 15px;
    color: #000;
    background: #ccc;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

header .search-container a:hover {
    color: #fff;
    background: #535353;
}

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    display: none;
}
  
nav > a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}
  
nav a:hover {
    color: #000;
    background-color: #ccc;
}

.sidenav div {
    display: block;
    margin-bottom: 20px;
    position: absolute;
    color: #fff;
    font-size: 36px;
    top: 15px;
    right: 15px;
    padding: 10px 16px;
    cursor: pointer;
}

.sidenav div:hover {
    background: #ccc;
}

main {
    grid-area: main;
    margin: 160px auto 40px;
    text-align: center;
    max-width: 1200px;
}

main > div {
    margin-bottom: 30px;
}

footer {
    grid-area: footer;
    width: 100%;
    color: #fff;
    padding-left: 10px;
    background-color: #000;
    position: relative;
}

footer span {
    color: #000;
    background: #fff;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 5px;
}

.img-footer img {
    float: left;
    width: 50px;
    margin-right: 20px;
}

h3, h5 {
    margin: 10px;
}

/* Grid 2 */
.row {
    display: flex;
}

.column-33 {
    flex: 33.333333%;
    padding: 10px;
}

.column-25 {
    flex: 25%;
    padding: 10px;
}

.center {
    text-align: center;
}
  
.pagination {
    display: inline-block;
    margin-bottom: 40px;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: #000;
    color: white;
}

.pagination a:hover {
    color: #fff;
    background: #000;
}

section {
    margin-top: 50px;
}

section h3 {
    margin-bottom: 40px;
}

h2 {
    text-transform: uppercase;
    color: #535353;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 3px;
    background: #000;
}